.block1 {
    width: auto;
    text-indent: 40px; /*Смещение первой строки*/
    padding: 10px;
    border: 6px solid #0e0b0c;;
    border-radius: 0px 0px 50px 50px;
    background-color: gray;

}

.block2 {
    width: auto;

    /*position: absolute | fixed | relative относительно его исходного места. | static | inheritНаследует значение родителя*/
}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 5px 5px 0 0; /* Отступы вокруг картинки */
}
.rightimg {
    float: right ; /* Выравнивание по правому краю  */
    margin: 6px 6px 0 0; /* Отступы вокруг картинки */
}

.text:focus{
    float: right;
    margin: 5px 5px 0 0;
    border-radius: 15px;
    background-color: beige;
    font-style: italic;
    color:  #a51445;;
}

.d1{
    background-color: rgb(80, 74, 74);
    width:50px;
    height:50px;
    transform:rotate(45deg);
    display:inline-block;
    position: absolute;
    left: 600px;
    top: 1300px;
}

.d2{
    background-color: rgb(80, 74, 74);
    width:50px;
    height:50px;
    transform:rotate(45deg);
    display:inline-block;
    position: absolute;
    left: 550px;
    top: 1300px;
}

.d3 {
    background-color: rgb(80, 74, 74);
    width:50px;
    height:50px;
    transform:rotate(45deg);
    display:inline-block;
    position: absolute;
    left: 650px;
    top: 1300px;
}

.main-text{
    letter-spacing: 24px;
    font-size: 60px;
    position: absolute;
    z-index: 4;
    left: 550px;
    top: 800px;
    color: #000000;
    animation: k 3s infinite;
}

@keyframes k{
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.figure a{
    color: #42423d;
    text-decoration: none;
    font-size:30px;
}
.figure a:hover{
    color: #289adb;
    transition: 0.3s linear;
    font-size:10px;
}
.figure1{
    width: 320px;
    border-bottom: 70px solid  #0e0b0c;
    border-right: 0 solid transparent;
    border-left: 50px solid transparent;
    rotate: 180deg;
    position: relative;
    background-color:gray;
    top:-10px;
    left:-10px;
}
.figure{
    position: absolute;
    top: 0px; /* Задаем отступ сверху */
    left: 20px; /* Задаем отступ слева */
    width: 200px; /* Задаем ширину элемента */
    height: 100px; /* Задаем высоту элемента */
}

/*Создание меню */
.menu-main {

    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: dimgrey;
}
.menu-main>li {/*выборка li в меню*/
    display: inline-block;
}

.menu-main li:/*first-child*/:after {/*если 2 элемента полсле 1 го */
    content: "|";
    color: #000000;
    display: inline-block;
    vertical-align:top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a, .menu-main a:visited {
    color: #000000;
}

footer{/*Внизу страници*/
    position: fixed;
    bottom: 0;
    width: 100%;
}




